
*.cyclo
*.o
*.su
*.d
/PortTest/GOS2022_lib/Debug
/PortTest/GOS2022_lib/Build_stm32f411xe
/PortTest/GOS2022_lib/Build_stm32f401xe
/PortTest/GOS2022/Release
/PortTest/GOS2022/Debug
/Bootloader/GOS2022_lib/Debug
/Bootloader/.metadata
/Bootloader/GOS2022_testApp/Debug
/Bootloader/GOS2022_testApp/Release
/Bootloader/GOS2022_bootloader/Debug
/Bootloader/GOS2022_bootloader/Release
/Bootloader/GOS2022_lib/Lib_for_bootloader
/Bootloader/GOS2022_lib/Lib_for_application
